// Body
$body-bg:                       #0e1726 !important;

// Card
$card-cap-bg:                   #142341 !important;
$card-bg:                       #0e1726 !important;

// List group
$list-group-bg:                 $card-bg !important;

// Typography

// Colors
